# {{ ansible_managed }}

# nginx Configuration File
# http://wiki.nginx.org/Configuration

{% block modules_enabled -%}
include modules-enabled/*.conf;
{% endblock %}

{% block user %}
# Run as a less privileged user for security reasons.
user {{ nginx_user }};
{% endblock %}

{% block worker %}
# How many worker threads to run;
# "auto" sets it to the number of CPU cores available in the system, and
# offers the best performance. Don't set it higher than the number of CPU
# cores if changing this parameter.

# The maximum number of connections for Nginx is calculated by:
# max_clients = worker_processes * worker_connections
worker_processes auto;

# Maximum open file descriptors per process;
# should be > worker_connections.
worker_rlimit_nofile 8192;
{% endblock %}

{% block load_dynamic_modules -%}
{% for obj in (nginx_dynamic_modules|json_query('*.objs')|sum(start = [])) %}
load_module "modules/{{ obj }}";
{% endfor %}
{% endblock %}

{% block events %}
events {
  # When you need > 8000 * cpu_cores connections, you start optimizing your OS,
  # and this is probably the point at which you hire people who are smarter than
  # you, as this is *a lot* of requests.
  worker_connections 8000;
}
{% endblock %}

{% block error_log %}
# Default error log file
# (this is only used when you don't override error_log on a server{} level)
error_log  {{ nginx_logs_root }}/error.log warn;
{% endblock %}

{% block pid %}
# The file storing the process ID of the main process
pid        /run/nginx.pid;
{% endblock %}

http {
  {% block http_begin %}{% endblock %}

  {% block server_tokens -%}
  # Hide nginx version information.
  server_tokens off;
  {% endblock %}

  {% block cache -%}
  # Setup the fastcgi cache.
  fastcgi_buffers {{ nginx_fastcgi_buffers }};
  fastcgi_buffer_size {{ nginx_fastcgi_buffer_size }};
  fastcgi_read_timeout {{ nginx_fastcgi_read_timeout }};
  fastcgi_cache_path {{ nginx_cache_path }} levels=1:2 keys_zone=wordpress:{{ nginx_cache_key_storage_size }} max_size={{ nginx_cache_size }} inactive={{ nginx_cache_inactive }};
  fastcgi_cache_use_stale updating error timeout invalid_header http_500;
  fastcgi_cache_lock on;
  fastcgi_cache_key $realpath_root$scheme$host$request_uri$request_method$http_origin;
  fastcgi_ignore_headers Cache-Control Expires Set-Cookie;
  fastcgi_pass_header Set-Cookie;
  fastcgi_pass_header Cookie;
  {% endblock %}

  {% block mime_types -%}
  # Define the MIME types for files.
  include       h5bp-server-configs/mime.types;
  default_type  application/octet-stream;
  {% endblock %}

  {% block charset_types -%}
  # Update charset_types due to updated mime.types
  charset_types text/css text/plain text/vnd.wap.wml application/javascript application/json application/rss+xml application/xml;
  {% endblock %}

  {% block log_format -%}
  # Format to use in log files
  log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                    '$status $body_bytes_sent "$http_referer" '
                    '"$http_user_agent" "$http_x_forwarded_for"';
  {% endblock %}

  {% block access_log -%}
  # Default log file
  # (this is only used when you don't override access_log on a server{} level)
  access_log {{ nginx_logs_root }}/access.log main;
  {% endblock %}

  {% block keepalive -%}
  # How long to allow each connection to stay idle; longer values are better
  # for each individual client, particularly for SSL, but means that worker
  # connections are tied up longer. (Default: 65)
  keepalive_timeout 20;
  {% endblock %}

  {% block sendfile -%}
  # Speed up file transfers by using sendfile() to copy directly
  # between descriptors rather than using read()/write().
  sendfile        on;
  {% endblock %}

  {% block tcp_nopush -%}
  # Tell Nginx not to send out partial frames; this increases throughput
  # since TCP frames are filled up before being sent out. (adds TCP_CORK)
  tcp_nopush      on;
  {% endblock %}

  {% block compression -%}
  # Compression

  # Enable Gzip compressed.
  gzip on;

  # Compression level (1-9).
  # 5 is a perfect compromise between size and cpu usage, offering about
  # 75% reduction for most ascii files (almost identical to level 9).
  gzip_comp_level    5;

  # Don't compress anything that's already small and unlikely to shrink much
  # if at all (the default is 20 bytes, which is bad as that usually leads to
  # larger files after gzipping).
  gzip_min_length    256;

  # Compress data even for clients that are connecting to us via proxies,
  # identified by the "Via" header (required for CloudFront).
  gzip_proxied       any;

  # Tell proxies to cache both the gzipped and regular version of a resource
  # whenever the client's Accept-Encoding capabilities header varies;
  # Avoids the issue where a non-gzip capable client (which is extremely rare
  # today) would display gibberish if their proxy gave them the gzipped version.
  gzip_vary          on;

  # Compress all output labeled with one of the following MIME-types.
  gzip_types
    application/atom+xml
    application/javascript
    application/json
    application/ld+json
    application/manifest+json
    application/rss+xml
    application/vnd.geo+json
    application/vnd.ms-fontobject
    application/x-font-ttf
    application/x-web-app-manifest+json
    application/xhtml+xml
    application/xml
    font/opentype
    image/bmp
    image/svg+xml
    image/x-icon
    text/cache-manifest
    text/css
    text/plain
    text/vcard
    text/vnd.rim.location.xloc
    text/vtt
    text/x-component
    text/x-cross-domain-policy;
  # text/html is always compressed by HttpGzipModule

  # This should be turned on if you are going to have pre-compressed copies (.gz) of
  # static files available. If not it should be left off as it will cause extra I/O
  # for the check. It is best if you enable this in a location{} block for
  # a specific directory, or on an individual server{} level.
  # gzip_static on;
  {% endblock %}

  {% block brotli -%}
  # Brotli

  # Enables or disables checking of the existence of pre-compressed files with `.br`
  # extension. With the `always` value, pre-compressed file is used in all cases,
  # without checking if the client supports it. This should be turned on if you are
  # going to have pre-compressed copies (.br) of static files available. If not it
  # should be left off as it will cause extra I/O for the check. It is best if you
  # enable this in a location{} block for a specific directory, or on an individual
  # server{} level.
  brotli_static {{ nginx_brotli_static }};

  # Enables or disables on-the-fly compression of responses.
  brotli {{ nginx_brotli }};

  # Compression level (0-11).
  # Compared to Gzip, level 4 is Brotli’s compression rate vs CPU load sweet spot.
  brotli_comp_level {{ nginx_brotli_comp_level }};

  # Enables on-the-fly compression of responses for the specified MIME types in addition to text/html.
  brotli_types
    application/atom+xml
    application/javascript
    application/json
    application/ld+json
    application/manifest+json
    application/rss+xml
    application/vnd.geo+json
    application/vnd.ms-fontobject
    application/x-font-ttf
    application/x-web-app-manifest+json
    application/xhtml+xml
    application/xml
    font/opentype
    image/bmp
    image/svg+xml
    image/x-icon
    text/cache-manifest
    text/css
    text/plain
    text/vcard
    text/vnd.rim.location.xloc
    text/vtt
    text/x-component
    text/x-cross-domain-policy;
  # Responses with the text/html MIME type are always compressed.

  # Sets Brotli window size.
  # Acceptable values are 1k, 2k, 4k, 8k, 16k, 32k, 64k, 128k, 256k, 512k, 1m, 2m, 4m, 8m and 16m.
  brotli_window {{ nginx_brotli_window }};

  # Sets the minimum length of a response that will be compressed.
  # The length is determined only from the Content-Length response header field.
  brotli_min_length {{ nginx_brotli_min_length }};
  {% endblock %}

  {% block sites_enabled -%}
  include sites-enabled/*.conf;
  {% endblock %}
}
